<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2008-2013</h4>
                                    <h4 class="subheading">Post Graduate from Birla Institute of Technology, Mesra</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I studied Computer Application and Information science. I really liked programming and building web applications for fun.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2013-Until now</h4>
                                    <h4 class="subheading">Web Developer</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I have been consulting on various web projects on PHP, Javascript and HTML5 and have happy clients all over the world.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>