<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">You can contact me for consultation on follwing.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-wordpress fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Wordpress and PHP Development</h4>
                    <p class="text-muted">I have good experience building websites with Wordpress and could help you build websites from scratch or refactor/maintain old wordpress websites..</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-chrome fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Frontend Development</h4>
                    <p class="text-muted">You can consult me for doing frontend work and I excel in creating pixel perfect websites converting your vision to a live website.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-facebook-official fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Social Media</h4>
                    <p class="text-muted">Want to promote your app/services/website on Social Media. You can contact me here to strategize your Social Media Marketing.</p>
                </div>
            </div>
        </div>
    </section>